VITE_SUPABASE_URL=https://kcffvihyxrdkifivahin.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtjZmZ2aWh5eHJka2lmaXZhaGluIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjY4OTMwMDUsImV4cCI6MjA4MjQ2OTAwNX0.XIFl--zTQRaPecxPJr-MpK9Ji9UBBQgQf07_BBO804Y
